.csv-popup-button-container{
  position: absolute;
  bottom: 0.5rem;
  right: 1.5rem;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  flex: 1;
}
.csv-popup-button.none {
  display: none;
}
.csv-popup-button {
  background-color: var(--add-btn-bg);
  border-radius: 100%;
  padding: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: -1px 1px 5px 3px var(--add-btn-shadow);
  position: relative;
  justify-self: flex-end;
}
.csv-popup-button:hover {
  background-color: var(--add-icon);
  box-shadow: -2px 2px 5px 5px var(--add-btn-shadow);

  svg path {
    color: var(--add-btn-bg);
  }
}

.csv-popup-button svg {
  font-size: 1.25rem;
}
.csv-popup-button svg path {
  color: var(--add-icon);
}

.csv-popup-button::after {
  content: var(--classify-new-csv);
  position: absolute;
  top: -1rem;
  left: -2rem;
  transform: translateX(-50%);
  background-color: var(--add-btn-bg);
  color: var(--add-icon);
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: -1px 1px 5px 3px var(--add-btn-shadow);
  font-size: 0.75rem;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 1000;
}

.csv-popup-button:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-1.3rem);
}


.csv-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 101;
}
.csv-popup.no-data {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 10.35%;
  z-index: 10;
  gap: 1.1rem;
  z-index: 101;
}
.csv-popup.no-data h2 {
  text-align: center;
  font-weight: 600;
  color: var(--form-title);
}

.csv-popup-content {
  background: var(--form-background);
  color: var(--secondary-text);
  padding: 0rem 1.5rem;
  border-radius: 2rem;
    box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.04),     /* bayangan kecil, dekat elemen */
    0 8px 10px rgba(0, 0, 0, 0.06),    /* bayangan menyebar ke bawah */
    0 12px 20px -6px rgba(0, 0, 0, 0.08); /* layer tajam di bawah */
  width: 100%;
  max-width: 700px;
  position: relative;
  border: 1px solid var(--form-border);

    transition: box-shadow 0.3s ease-in-out;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.csv-popup-overlay {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--results-text);
}

.csv-popup-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-text);
}

.csv-model-selector,
.csv-file-upload,
.csv-actions {
  margin-block: 16px;
}

.csv-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.csv-actions-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.csv-actions-right .reset-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--select-model-background);
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: 1px solid var(--select-model-border);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
}
.csv-actions-right .reset-button svg {
    color: var(--select-model-text);
    font-size: 1.2rem;
    transition: color 0.2s ease;
}
.csv-actions-right .reset-button:hover {
    background-color: var(--select-model-hover);
}
.csv-actions-right .reset-button:hover svg {
    color: var(--select-model-text);
}
.csv-actions-right .reset-button:active {
    background-color: var(--select-model-hover);
}
.csv-actions-right .reset-button:active svg {
    color: var(--select-model-text);
}

.csv-model-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}


.csv-file-upload {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 16px;
}
.csv-file-upload input {
  background: var(--main-bg);
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #aaa;
  color: var(--results-text);
  cursor: pointer;
}
.csv-file-upload p {
  color: var(--results-text);
}
.csv-file-upload p.total-data-limit {
  color: red;
}
.csv-file-upload p.total-data-limit strong {
  color: var(--results-text);
}

.file-upload-label{
  padding-inline: 8px;
}

.file-upload-text {
  color: var(--results-text);
  opacity: 0.8;
  font-size: 0.75rem;
}

.csv-actions button,
.csv-table button,
.csv-result-table button {
  padding: 6px 12px;
  border: none;
  background: var(--submit-bg);
  color: var(--select-model-background);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.csv-actions button:hover,
.csv-table button:hover,
.csv-result-table button:hover {
  background: var(--submit-bg-hover);
}

.csv-actions button:disabled {
  background: #999;
  cursor: not-allowed;
}